/* line 3, ../../compass/sass/_navbar.scss */
.Select {
  width: 21em !important;
  margin-top: 20px;
}

/* line 9, ../../compass/sass/_navbar.scss */
.navbar {
  background: #0074d9;
  opacity: 0.9;
  box-shadow: 2px 2px 5px #0074d9;
  height: 50px;
}
@media (max-width: 1024px) {
  /* line 9, ../../compass/sass/_navbar.scss */
  .navbar {
    height: auto;
  }
}
/* line 18, ../../compass/sass/_navbar.scss */
.navbar a {
  color: #fff !important;
  font-family: 'Hind', sans-serif;
}
/* line 23, ../../compass/sass/_navbar.scss */
.navbar .navbar-brand {
  font-size: 2.25rem !important;
}

/* line 32, ../../compass/sass/_navbar.scss */
.modal .modal-header h2 {
  margin-left: 3em !important;
  font-family: 'Karla', sans-serif;
}

/* line 4, ../../compass/sass/_home.scss */
.home-page {
  background: url("/img/home-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 100%;
  min-height: 900px;
  margin-top: -9em;
  z-index: 0;
  font-family: 'Karla', sans-serif;
}
@media (max-width: 500px) {
  /* line 4, ../../compass/sass/_home.scss */
  .home-page {
    background-size: 500px 900px;
  }
}
/* line 18, ../../compass/sass/_home.scss */
.home-page .tagline {
  margin-top: 12rem;
  color: #fff;
}
/* line 23, ../../compass/sass/_home.scss */
.home-page .menu {
  margin-top: 10em !important;
}
/* line 25, ../../compass/sass/_home.scss */
.home-page .menu a {
  color: #fff;
  font-size: 19px;
}
/* line 28, ../../compass/sass/_home.scss */
.home-page .menu a:hover {
  color: #0074d9 !important;
  text-shadow: 2px 2px 8px #0074d9 !important;
  text-decoration: none;
}
/* line 36, ../../compass/sass/_home.scss */
.home-page .menu .circle img {
  height: 7em !important;
}
